.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-32;
  width: 100%;
  max-width: 1152px;
}

.title_container {
  width: 100%;
  min-height: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-24;
  align-self: stretch;
  margin: 0;

  .description{
    color: $color-text-subtle;
    text-align: center;
  }
}

.product_container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  align-self: stretch;
  flex-wrap: wrap;
}