.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-32;
  width: 100%;
  max-width: 1152px;
}

.title_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-24;
  align-self: stretch;
  margin: 0;

  .description{
    color: $color-text-subtle;
    text-align: center;
  }

  // Service 페이지용 오른쪽 정렬
  &.service_layout {
    align-items: start;
  }
}

.service_description {
  text-align: right !important;
}

.service_category {
  align-self: start;
  width: auto;
}

.product_container{
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 24px;
  align-self: stretch;
  flex-wrap: wrap;
}