.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    img{
    border-radius: 8px;
}
}

.product_id{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-10;
}

.product_name{
    color:  #151515;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}

.product_info_text{
    color:  #151515;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
}