.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

}
img{
    border-radius: 8px;
}
.product_id{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-10;
}