.container{
  display: flex;
  align-items: center;
  gap: var(--Spacing-8, 8px);
  text-decoration: none;
}

.text{
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

//.icon, .text {
//  transition: all 0.2s ease;
//}