.container {
    width: 100%;

    gap: $spacing-24;
}

.sectionContainer {
    display: flex;
    flex-wrap: nowrap;
    gap: $spacing-24;
    width: min(100%, $max-width);
    margin: 0 auto;
    overflow-x: auto;
    position: relative;

    &::after {
        content: '';
        position: sticky;
        right: 0;
        top: 0;
        bottom: 0;
        width: 175px;
        background: linear-gradient(to left, white, transparent);
        pointer-events: none;
        flex-shrink: 0;
        margin-left: -175px;
    }
}



