.container{
  width: 370px;
  padding: $spacing-20;
  gap: $spacing-20;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: $radius-20;

  .header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
  }
  
  .product_id{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-10;
  }
  
  .member{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing-12;
  }

  .subscription{
    width: 100%;
    display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  }

  
  
}