.agreement {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
    text-align: center;

    .check-box {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        width: 100%;
        justify-content: flex-start;
        white-space: nowrap;
    }

    .terms {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 20px;
        padding-left: 24px;
        border-top: 1px solid #eee;
        padding-top: 24px;
        text-align: left;
    }
}

.termsLink {
    text-decoration: underline;
    color: inherit;

    &:hover {
        color: #007bff;
    }
}