.info {
    padding: 0vh;
    display: flex;
    flex-direction: column;
}

.image {
    display: block;
    aspect-ratio: 9 / 13;
    object-fit: cover;
    width: 15vw;
    border-radius: 10px;
}

.title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #151515;
}

.rating {
    display: flex;
    align-items: center;
    margin-top: -1vh;
    color: #7D7D7D;
}

.ratingIcon {
    margin-right: 4px;
}